/* Layout */
#wrapper {
    background-color: #ffffff;
}

#slider {
    margin: 0px auto;
    width: 100%;
    height: 100vh;
    background-image:url("#{resource['img/slider_1.jpeg']}");
    background-size: 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
    margin-top: -110px;
}

#main {
    margin: 0px auto;
    width: 1040px;
    padding: 70px 0px 0px 0px;
    border: none;
    min-height: 100vh;
}

/* Front Page */
#search_wrapper {
    position: absolute;
    top: 30vh;
    width: 50%;
    padding: 20px;
    background-color: #ffffff;
    margin: 0px auto;
    left: 0;
    right: 0;
}

#search_field_wrapper .inputContainer, #scroll_button select {
    float:left;
}

#search_field_wrapper .inputContainer {
    margin: 0 20px 0 0;
}

.search_input_text {
    font-size: 1.15em !important;
    padding: 12px 0px 11px 0px !important;
}

.search_input_text:hover, .search_input_text:active {
    padding: 13px 0px 10px 0px !important;
}

#search_field_wrapper select {
    margin-top: 20px;
    margin-right: 20px;
}

#search_field_wrapper select:first-child {
    margin-right: 20px;
}

#search_heading h1{
    text-shadow: 0px 0px 30px rgb(255, 255, 255);
    font-size: 1.5em;
    width: 100%;
    text-align: center;
    font-weight: normal;
}

.search_select_menu {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 10px 50px 11px 0px;
    background-image: url("#{resource['img/select_arrow.png']}");
    background-position: right;
    background-repeat: no-repeat;
    background-position-y: 17px;
    background-size: 28px;
    font-size: 1.15em;
    border: none;
    border-bottom: 1px solid #ccc;
    border-color: #ccc;
}

.search_button {
    float: right;
    margin-top: 23px;
}

#scroll_button {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background-color: #fff;
    position: absolute;
    bottom: 10%;
    left: 50%;
    margin-left: -35px;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#scroll_button i {
    color: #1D4E89;
    font-size: 3em;
    display: block;
    text-align: center;
    line-height: 1.4em;
}

.index_title {
    text-align: center;
    font-weight: 400;
    margin-bottom: 50px;
}

.featured_wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.featured_wrapper .card {
    font-weight: 400;
    position: relative;
}

.featured_wrapper .card img {
    width: 100%;
    border-radius: 2px 2px 0px 0px;
}

.featured_wrapper .card .description {
    padding: 24px 16px 16px 16px;
    font-size: 1.15em;
    margin-bottom: 50px;
}

.featured_wrapper .card .button_wrapper {
    overflow: auto;
    padding: 0px 10px 10px 0px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.featured_wrapper .card .button_flat {
    font-size: 1em !important;
    float: right;
}

/* Login Screen */
#login_back_button {
    position: fixed;
    top: 10px;
    left: 10px;
}

#login_wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

#login_container {
    margin: 0px auto;
    width: 400px;
    padding: 40px 20px 40px 20px;
    border-radius: 3px;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 0.6s;
}

.logo_text {
    width: 300px;
    height: 150px;
    margin: 0px auto;
    display: block;
    margin-bottom: 40px;
}

#login_form {
    text-align: center;
}

.login_inputText {
    display: inline-block;
    float: none !important;
}

#login_links {
    width: 80%;
    margin: 0px auto;
    margin-bottom: 30px;
    margin-top: 5px;
    overflow: hidden;
}

#login_links a {
    display: block;
    font-size: 12px;
}

.login_link_register {
    float: left;
    padding-left: 5px;
}

.login_link_forgot {
    float: right;
    padding-right: 5px;
}

#login_container .h_messages {
    margin-bottom: 35px;
    color: red;
    font-weight: 400;
}

.login_button {
    display: block;
    margin: 0px auto;
    padding-left: 70px;
    padding-right: 70px;
}

/* Create & Edit Insertions */

.stepper_wrapper {
    width: 100%;
    position: fixed;
    top: 72px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 22px 0px;
    background-color: #fff;
    z-index: 15;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#stepper {
    width: 1040px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    box-sizing: border-box;
}

#stepper .step {
    float: left;
}

.step .number {
    float: left;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 50%;
    margin-right: 10px;
    font-weight: 400;
}

.step .text {
    float: left;
    font-weight: 400;
}

#stepper .divider {
    width: 200px;
    height: 1px;
    background-color: #ddd;
    float: left;
    border-bottom: 1px solid #efefef;
    margin-top: 11px;
}

.active .number {
    background-color: #1D4E89;
    color: #fff;
}

.passive .number {
    background-color: #ccc;
    color: #000;
}

.insertion_form_wrapper {
    width: 1020px;
    margin: 0px auto;
}

.insertion_area_text {
    float: left;
    width: 280px;
}

.insertion_area_text p {
    padding-top: 12px;
    font-weight: bold;
}

.insertion_area_attrs {
    float: right;
    width: 620px;
}

.inputFileName {
    border: 1px solid #1D4E89;
    color: #000;
    padding: 10px 30px;
    font-size: 1.15em;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
    float: left;
    width: 200px;
    height: 44px;
    box-sizing: border-box;
    line-height: 1.25em;
    background-color: #fff;
}

#inputFileForm {
    overflow: hidden;
}

#inputFileForm label {
    font-weight: 400;
    padding: 11px 30px !important;
    line-height: initial;
    float: left;
}

.inputFile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputFile, .file_button {
    cursor: pointer;
}

.uploadButton {
    float: right;
}

.uploadMessages {
    padding: 0px !important;
}

.insertion_area_attrs .search_select_menu {
    width: 290px;
}

.insertion_area_attrs .inputFloatLeft .inputContainer {
    margin-right: 20px;
}

.inputContainer .street {
    width: 400px;
}

.inputContainer .town {
    width: 340px;
}
.inputContainer .postCode {
    width: 240px;
}

.houseNumber, .additionalLetter {
    width: 80px;
}

.inputText290 {
    width: 290px;
}

.heating {
    margin: 35px 0px;
}

.title_p {
    padding-top: 10px;
    float: left;
    padding-right: 20px;
    font-size: 1.15em;
}

.insertion_attr_option {
    font-weight: 300;
}

.insertion_attr_option input[type="checkbox"] {
    margin-right: 20px;
}

.insertion_description .inputText {
    resize: none;
    width: 600px;
    height: 400px;
    font-family: 'Roboto', sans-serif;
}

.insertion_description .insertion_title {
    height: auto !important;
    margin-bottom: 40px;
}

.insertion_area_msgs {
    float: right;
    width: 620px;
}

.insertion_area_msgs .requiredMessage:first-child {
    margin-top: 40px;
}

/* Publish Insertion */

.insertion_summary_heading {
    margin-bottom: 50px;
}

.insertion_summary_heading .title {
    font-size: 2.5em;
    font-weight: 500;
    margin-bottom: 0px;
    line-height: 1em;
}

.important_attributes {
    overflow: auto;
    margin-bottom: 30px;
}

.important_attributes .element {
    float: left;
    border-left: 1px solid #ccc;
    padding: 0px 30px;
}

.important_attributes .element:first-child {
    border-left: none;
    padding-left: 0px;
}

.important_attributes .element:last-child {
    padding-right: 0px;
}

.important_attributes .value {
    font-weight: 500;
    line-height: 1em;
    font-size: 2.3em;
}

.important_attributes .key {
    color: #121212;
    font-size: 0.9em;
}

.publ_attributes {
    overflow: auto;
    margin-bottom: 50px;
}

.images_description {
    float: left;
    width: 600px;
    padding-top: 20px;
}

.images_description .img {
    margin-bottom: 40px;
}

.images_description .img .image {
    overflow: auto;
    width: 600px;
    height: 600px;
    text-align:center;
}

.images_description .img .image:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.images_description .img .image img {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.images_description .img .image_row {
    width: 100%;
    height: 100px;
    text-align: center;
    display: flex;
    border: 1px solid rgba(0,0,0,.15);
    border-top: none;
}

.images_description .small_image {
    border-left: 1px solid rgba(0,0,0,.15);
    flex: 1;
    padding: 10px;
}

.images_description .small_image:first-child {
    border-left: none;
}

.small_image a {
    height: 100%;
    overflow: auto;
    display: inline-block;
}

.small_image a:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.small_image a img {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.insertion_attributes {
    float: right;
    padding-top: 20px;
}

.attribute_table {
    border-spacing: 0px;
}

.attribute_table td {
    padding: 20px 0px;
}

.attribute_table td:first-child {
    color: #969696;
    width: 250px;
    font-weight: 100;
}

.attribute_table td:last-child {
    width: 140px;
}

.attribute_table td {
    border-bottom: 1px solid #ccc;
}

.insertion_publish_params {
    display: flex;
    justify-content: space-between;
}

.newspaperCheckbox {
    padding-top: 12px;
}

/* Search */
.ins_res {
    margin: 0px auto;
    margin-bottom: 70px;
    width: 1020px;
    overflow: hidden;
}

.ins_res .header {
    padding: 15px 30px;
    background-color: #1D4E89;
    color: #fff;
    font-size: 1.7em;
    font-weight: 400;
    border-radius: 2px 2px 0px 0px;
}

.ins_res img {
    width: 510px;
    text-align: center;
    float: left;
    margin-right: 20px;
}

.ins_res .information {
    float: right;
    width: 490px;
    box-sizing: border-box;
    padding: 20px 20px 0px 0px;
}

.ins_res .element {
    padding: 0px 19px !important;
}

.ins_res .element:first-child {
    padding-left: 0px !important;
}

.ins_res .element:last-child {
    padding-right: 0px !important;
}

.ins_res .information .value {
    font-size: 1.5em;
}

.ins_res .address {
    margin-bottom: 30px;
}

.ins_res .description {
    padding: 0px 20px 20px 20px;
}

.ins_res .content {

}


/* TESTING */

.card_wrapper {
    display: flex;
    justify-content: space-between;
}

.card_wrapper .feat_img img {
    width: 100%;
    border-radius: 2px 2px 0px 0px;
}

.card_wrapper .feat_img {
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -webkitbox-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card_wrapper .description  {
    background-color: #fff;
    box-shadow: 0 8px 6px rgba(0,0,0,0.16), 0 8px 6px rgba(0,0,0,0.23);
}

/* Contact */
.contact_wrapper {
    overflow: hidden;
}

.contact_wrapper .insertion {
    font-weight: 400;
    font-size: 1.5em;
}

.contact_wrapper h3 {
    font-weight: 500;
}

.contact_wrapper .inputContainer {
    width: 100%;
}

.contact_wrapper .inputContainer .inputText {
    width: 100%;
    font-family: 'Roboto', sans-serif !important;
}

.contact_wrapper .button {
    margin: 30px 0px;
    float: right;
}

/* Insurance */
#insurance_wrapper {
    padding: 0;
    position: relative;
}

#insurance_wrapper img {
    width: 400px;
    float: left;
    margin-right: 20px;
}

#insurance_wrapper .content {
    padding: 20px;
    position: relative;
}

#insurance_wrapper .button {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

#insurance_wrapper .inputFields, .buyInputFields {
    margin-bottom: 70px;
}

#insurance_form {
    display: inline-block;
}

.insurance_button {
    float: right;
}

.insurance_select .title_p {
    float: left;
    width: 300px;
    text-align: left;
    margin-right: 70px;
    padding-right: 0px;
}

.insurance_select select {
    width: 300px;
}

.insurance_select {
    text-align: left;
    margin-top: 20px;
}

.inputContainer.date {
    width: 300px;
}

.inputContainer.date input {
    padding: 20px;
    width: 256px;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;;
    border: none !important;
    box-shadow: none;
    border-bottom: 1px solid #D7D7D7 !important;;
    padding: 12px 0px 12px 0px;
    font-size: 1em;
    margin-top: 1px;
    border-radius: 0;

}

.inputContainer.date input:hover {
    border-bottom: 2px solid #1691F3 !important;
    margin-top: 0px;
    padding: 13px 0px 11px 0px;
}

.insertion_attr_option.garage {
    padding-top: 30px;
}

.insurance_price {
    max-width: 650px;
}

.insuranceMessage {
    clear: both;
    width: 670px;
    padding: 0 0 40px 0;
}

#insurance_wrapper .button {
    clear: both;
}