/* General */
* {
  margin: 0;
  padding: 0;
}

body {
    margin: 0px;
}

body, a, p {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #005e99;
}

.inputText {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 11px 15px;
    -webkit-padding-before: 10px;
    -webkit-padding-after: 10px;
    font-size: 14pt;
    box-sizing: border-box;
}

.button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #005e99;
    border: 1px solid #00578d;
    color: #fff;
    border-radius: 3px;
    padding: 10px 30px;
    font-size: 14pt;
}

.button:hover {
    background-color: #00578d;
    border-color: #005e99;
    cursor: pointer;
}

/* Layout */
#wrapper {
    background-color: #ffffff;
}

#menu_wrapper {
    position: fixed;
    background-color: #ffffff;
    width: 100%;
    overflow: auto;
    margin: 0px auto;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}

#slider {
    margin: 0px auto;
    width: 100%;
    height: 100vh;
    background-image:url(images/slider_1.jpeg);
    background-size: 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
}

#content_wrapper {
    margin: 0px auto;
    width: 1020px;
    height: 1000px;
    overflow-y: auto;
    border-radius: 2px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    
    -webkit-transform: translateZ( 0 );
    transform: translateZ( 0 );
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

#footer_wrapper {
    margin: 0px auto;
    width: 100%;
    height: 50px;
    background-color: #005e99;
    //position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

/* Menu */
.menu_item {
    float: left;
    padding: 19px 30px;
    font-size: 16pt;
    text-decoration: none;
    color: #000000;
}

.menu_item_login a {
    color: #000;
}

.menu_item_login:hover .menu_item_login_content {
    display: block;
    opacity: 1.0;
    transition-duration: 0.3s;
}

.menu_item_login_content {
    display: none;
    position: relative;
    background-color: #ffffff;
    padding: 20px 20px;
    overflow: hidden;
    top: 19px;
    border: 1px solid #ccc;
    border-top: none;
    -webkit-box-shadow: 0 5px 5px -5px #333;
    -moz-box-shadow: 0 5px 5px -5px #333;
    box-shadow: 0 5px 5px -5px #333;
    right: 21px;
    border-radius: 0px 0px 3px 3px;
}

.login_smallInputText {
    font-size: 14px;
    padding: 8px 11px;
    float: left;
    clear: both;
    width: 250px
}

.login_smallInputText_mail {
    margin-bottom: 14px;
}

.login_smallInputText_password {
    margin-bottom: 5px;
}

.login_links_small {
    clear: both;
    margin-bottom: 20px;
    overflow: hidden;
}

.login_links_small a {
    font-size: 10px;
    display: block;
    color: #005e99;
}

.login_small_link_register {
    float: left;
    padding-left: 5px;
}

.login_small_link_forgot {
    float: right;
    padding-right: 5px;
}

.login_button_small {
    display: block;
    margin: 0px auto;
    padding-left: 70px;
    padding-right: 70px;
    font-size: 14px;
}

/* Slider and search field */
#search_wrapper {
    position: relative;
    top: 275px;
    width: 50%;
    padding: 20px;
    background-color: #ffffff;
    opacity: 0.9;
    margin: 0px auto;
    transition-duration: 0.3s;
}

#search_heading h1{
    text-shadow: 0px 0px 30px rgb(255, 255, 255);
    font-size: 18pt;
    padding-bottom: 20px;
    width: 100%;
    text-align: center;
    font-weight: normal;
}

#search_wrapper:hover {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 59, 122, 0.52);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 59, 122, 0.52);
    box-shadow: 0px 0px 15px 0px rgba(0, 59, 122, 0.52);
    opacity: 1.0;
    transition-duration: 0.3s;
}

.search_select_menu {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 10px 50px 10px 20px;
    background-image: url(images/select_arrow.png);
    background-position: right;
    background-repeat: no-repeat;
    background-position-y: 17px;
    background-size: 28px;
    font-size: 14pt;
}

.search_select_left {
    border: 1px solid #ccc;
    border-color: #ccc;
    border-radius: 3px 0px 0px 3px;
}

.search_select_right {
    border: 1px solid #ccc;
    border-radius: 0px 3px 3px 0px;
}

.search_input_text {
    border-right: none;
    border-left: none;
    border-radius: 0px;
    width: 250px;
}

.search_button {
    float: right;
}

#scroll_button {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #005e99;
    position: absolute;
    bottom: 10%;
    left: 50%;
    margin-left: -25px;
}

a[ id= "scroll_button" ]:target ~ #content_wrapper {
    -webkit-transform: translateY( -500px);
    transform: translateY( -500px );
}


/* Login Screen */
#login_back_button {
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background-image: url(images/login_back_button.png);
}

#login_wrapper {
    display: flex;
    align-items: center;
    height: 100vh;
}

#login_container {
    margin: 0px auto;
    width: 400px;
    padding: 40px 20px 40px 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    -webkit-box-shadow: 2px 2px 5px 0px #ccc;
    -moz-box-shadow: 2px 2px 5px 0px #ccc;
    box-shadow: 2px 2px 5px 0px #ccc;
    
    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 0.6s;
}

.logo_text {
    width: 300px;
    height: 150px;
    margin: 0px auto;
    display: block;
    margin-bottom: 40px;
}

@keyframes loginInputFrames {
  0% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}

.login_inputText {
    width: 80%;
    display: block;
    margin: 0px auto;
    margin-top: 30px;
    transition: color 1.0s;
    -webkit-transition: color 1.0s;
    -moz-transition: color 1.0s;
    
    animation-name: loginInputFrames;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 0.6s;
}

#login_links {
    width: 80%;
    margin: 0px auto;
    margin-bottom: 30px;
    margin-top: 5px;
    overflow: hidden;
}

#login_links a {
    display: block;
    font-size: 12px;
}

.login_link_register {
    float: left;
    padding-left: 5px;
}

.login_link_forgot {
    float: right;
    padding-right: 5px;
}

@keyframes loginButtonFrames {
  0% {
      width: auto;
  }
  100% {
      max-width: 100%;
  }
}

.login_button {
    display: block;
    margin: 0px auto;
    padding-left: 70px;
    padding-right: 70px;
    
    animation-name: loginButtonFrames;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 0.3s;
}